#Q. Even Sum
Write a function that takes an argument ```n``` and returns sum of all even numbers $2, 4, \ldots$ upto $n$

In [ ]:
## Write your code here
def myfunc(n):
  s = 0
  for i in range(0,n,2):
      s = s + i
  print(s)
myfunc(20)

90

#Q. Intersection
Write a function that takes two lists ```l1``` and ```l2``` as arguments and returns a list containing elements that are common to both lists without containing any duplicates.

In [ ]:
def lister(l1,l2):
    c = []
    for i in l1:
        for j in l2:
            if i == j:
                c.append(i)
    print(c)
        
lister([1,2,3,4,5],[2,3,4,5,8,9])

[2, 3, 4, 5]

#Q. Primality
Write a function that takes a number ```n``` as argument and returns ```True``` if the number is prime and ```False``` otherwise.

In [ ]:
def prime(n):
  
        lst = []
        for i in range(1, n+1):
            if n % i == 0:
                lst.append(i)
        return bool(len(lst) == 2)

False

#Q. Digit Count and Sum
Write a function that takes a number ```n``` as input and returns a tuple of two values - the number of digits in that number and sum of digits in that number.

In [ ]:
### Write your code here
def func(n):
  m = str(n)
  dig_no = len(list(m))

  x = 0 
  a = [int(i) for i in m]
  dig_sum = sum(a)
  return(dig_no,dig_sum)  

func(123124)

(6, 13)

#Q. Reverse Word Order
Write a function that takes as argument a string containing multiple words and returns a string containing the same words in reverse order. \\
Eg., ```input = 'India is a democracy'; output = 'democracy a is India' ```

In [ ]:
def rev(string):
  a = string.split()
  a.reverse()
  print(" ".join(a))

rev("India is a democracy")

democracy a is India

#Q. Palindromes
Write a function that takes as argument a string and returns ```True``` if the string is a palindrome and ```False``` otherwise. \\
A palindrome is a string that reads the same backwards and forwards. \\
Eg., ```'aabbaa'``` and ```'aacbbcaa'``` are palindromes. ```'aacca'``` and ```'acab'``` are not. \\
(Ignore whitespace inside strings. For eg., ```'Was It A Rat I Saw'``` is a palindrome)

In [ ]:
### Write your code here
def palindrome(s):
  a = s.lower()
  x = a.replace(" ","")

  return (x == x[::-1])
palindrome("was it a rat i saw")

True

#Q. Pascal Triangle
Write a function that takes an argument n as input and returns a string containing a pascal triangle of n rows. (https://en.wikipedia.org/wiki/Pascal%27s_triangle)

In [ ]:
def pascal(n):
  a=[]
  for i in range(n):
      a.append([])
      a[i].append(1)
      for j in range(1,i):
          a[i].append(a[i-1][j-1]+a[i-1][j])
      if (n!=0):
          a[i].append(1)
  for i in range(n):
      print("   "*(n-i),end=" ",sep=" ")
      for j in range(0,i+1):
          print('{0:6}'.format(a[i][j]),end=" ",sep=" ")
      print()

pascal(7)

                           1
                        1      1
                     1      2      1
                  1      3      3      1
               1      4      6      4      1
            1      5     10     10      5      1
         1      6     15     20     15      6      1

[link text](https://)